html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
  color: #F5F5DC;
  font-size: 72px;
}

button {
  padding: 10px 40px;
  background: #000;
  color: #fff;
  border: 2px solid;
  border-radius: 10px;
  font-size: x-large;
}

.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answers > h2 {
  margin: 40px;
  background: #000;
  padding: 20px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
}

.main {
  background-image: url("green-background.jpg");
  background-size: cover;
  padding: 0 30px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aside {
  padding: 60px 0;
  justify-content: center;
  background: #4E484B;
  flex: 1;
  display: flex;
}

.players {
  width: 100%;
  padding-left:0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lobby {  
  background: #6F6464;
  padding: 20px 50px;
  color: #FFC107;
  font-size: 72px;
  border: none;
  border-radius: 20px;
}

.players > li {
  outline: #fff dashed;
  outline-offset: -10px;
  padding: 25px 0;
}

.players > li:first-child {
  background: #03A9F4;
}

.players > li:nth-child(2) {
  background: #4CAF50;
}

.players > li:nth-child(3) {
  background: #FFEB3B;
}

.players > li:nth-child(4) {
  background: #F44336;
}

.players > li:nth-child(5) {
  background: #FF9800;
}

.players > li:nth-child(6) {
  background: #673AB7;
}

.players > li:nth-child(7) {
  background: #B73A9F;
}

.players > li:nth-child(8) {
  background: #FFC0CB;
}

.players > .blank {
  background: #B7B4B1 !important;
}
